<h2 class="title">Microfrontends com Module Federation do Webpack</h2>

<br />
<div class="content-box">
  <p>
    Os microfrontends aplicam os princípios dos microservices ao frontend. 
    Em vez de ter um único projeto monolítico, a interface da aplicação é dividida 
    em partes menores (os módulos remotos), carregados dinamicamente em um host (shell principal).
  </p>

  <p>
    O Module Federation, introduzido no Webpack 5, permite que diferentes aplicações compartilhem código e 
    carreguem módulos remotamente em tempo de execução, sem necessidade de recompilação total.
  </p>

  <p>
    Assim, cada parte do frontend pode ser desenvolvida e implantada separadamente, 
    compartilhando dependências sem redundâncias e sendo carregada dinamicamente conforme necessário.
  </p>

  <p>
    Nesse exemplo, a página home é o host e os links Dashboard barra e Dashboard pizza são diferentes aplicações
    independentes.
  </p>
</div>
